CricketLeagueAnalysis/.vs/
CricketLeagueAnalysis/CricketLeagueAnalysis.sln
CricketLeagueAnalysis/CricketLeagueAnalysis/CricketLeagueAnalysis.csproj
CricketLeagueAnalysis/CricketLeagueAnalysis/obj/
CricketLeagueAnalysis/CricketLeagueAnalysisNUnitTest/CricketLeagueAnalysisNUnitTest.csproj
CricketLeagueAnalysis/CricketLeagueAnalysisNUnitTest/obj/
CricketLeagueAnalysis/CricketLeagueAnalysis/bin/
CricketLeagueAnalysis/CricketLeagueAnalysisNUnitTest/bin/




